<!-- search.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Search for Giphy's You need!</title>
</head>
<body>
<marquee><h1>West End Advertising</h1></marquee>
<form method="POST" action="/show">
<p><label>SEARCH FOR GIPHYS!</label><input type="text" name="query" placeholder="Ted Turner" required></input><input type="submit" value="New Giphy Search"></p>
</form>
<a href="/searches">View Past Searches!</a>
</body>
</html>