<!-- search.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Search for Giphy's You need!</title>
</head>
<body>
<form method="POST" action="/show">
<input="text" name="query" placeholder="Ted Turner" required>
<a href="/view/saved"></a>
</body>
</html>